*{

    margin: 0;
    padding: 0%;

    box-sizing: border-box;

}


html, body{

    height: 100%;
    background-image: url(../imgae/wlop.jpg);
    
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;

}

.nav{
    width: 100%;
    height: 50px;
    /* background-color: rgba(128, 209, 200, 0.8); */
    background-color: rgb(50, 50, 50, 0.4);
    color: white;

    display: flex;

    align-items: center;

}


.nav img{

    width: 40px;
    height: 40px;

    border-radius: 50%;

    margin-left: 30px;

    margin-right: 15px;

}



.nav .spacer{

    width: 70%;


}

.nav a{

    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
}



.container{

    width: 1000px;
    height: calc(100% - 50px);

    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;

}

.container-left{
    /* 和父亲一样高 */
    height: 100%;
    width: 200px;

    
    /* background-color: rgb(128, 209, 200); */

}

.container-right{

    height: 100%;
    width: 790px;

    /* background-color: rgb(0, 46, 166); */

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    /* 如果内容超出范围， 在这个元素上加滚动条, 得设置到带有尺寸的元素上才能生效 */
    overflow: auto;
}

.card{

    background-color: rgba(255, 255,  255, 0.8);
    border-radius: 10px;
    
    padding: 30px;
        
}

/* 用户头像 */

.card img{

    width: 140px;
    height: 140px;

    border-radius: 50%;

}

/* 用户名 */
.card h3{

    text-align: center;
    padding: 10px;
}

/* github链接 */

.card a{
    /* 转成块级元素 */
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 46, 166, 0.5);
    padding:5px;
}


.card .counter{

    display: flex;
    padding: 5px;

    justify-content: space-around;

}